# http://editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h,rsrc}]
end_of_line = lf

[*.{xml,csproj}]
indent_size = 2

[*.{bat,cs,sln,csproj}]
end_of_line = crlf

# .NET formatting settings:
[*.cs]
dotnet_sort_system_directives_first = true
