[submodule "stdlib"]
	path = stdlib
	url = https://github.com/adamant/adamant.stdlib.git
[submodule "tests"]
	path = tests
	url = https://github.com/adamant/adamant.language.tests.git
[submodule "katas"]
	path = katas
	url = https://github.com/adamant/adamant.katas.git
