*           text=auto

*.vson      text eol=lf encoding=UTF-8
*.json      text eol=lf encoding=UTF-8
*.ad        text
*.md        text
*.bat       text eol=crlf
*.c         text eol=lf
*.h         text eol=lf
*.rsrc      text eol=lf
*.sh        text eol=lf
*.yml       text eol=lf

*.cs        text eol=crlf
*.sln       text eol=crlf
*.csproj    text eol=crlf


